@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
    color: rgba(0,0,0.8);
    background-attachment: fixed;
}

img{
    max-width: 100%;
    height: auto;
}

input[type="text"] {
    border: none;
    border-radius: 100px;
    height: 34px;
    width: 250px;
    padding: 0 16px;
}

button {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 22px;
    background: white;
    border: none;
    margin-top: 17px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(140deg, #fe7142 0%, #cb4fc2 50%, #9A57E8 75%, #53A0E8 100%);
    color:white;
    height: 300px;
    margin-bottom: 50px;
}

ul > li {
    flex-basis: 25%;
    padding: 0 16px;
    list-style: none;
    margin-bottom: 70px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media(min-width: 900px){
    ul > li {
        flex-basis: 100%;
        width: 100%;
    }
}

